@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

$background-lm: #e9ebec;
$background-lm-light: #ffffff;
$content-color-lm-light: #575757;
$content-color-lm: #3d3d3d;
$content-color-lm-dark: #19191b;
$highlight-color-lm: #fbd144;
$highlight-color-lm-transparent: rgba(251, 208, 68, 0.88);
$background-dm-dark: #0c151d;
$background-dm-light: #171f26;
$content-color-dm-dark: #a3abb2;
$content-color-dm-light: #f1f2f4;
$highlight-color-dm: #ffe071;
$highlight-color-dm-transparent: #ffe071e0;

.body {
  background-color: $background-lm;
  transition: all ease 0.5s;
}

#container {
  max-width: 800px;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  color: $content-color-lm-light;
  font-size: 22px;
  margin-top: 33px;
}

.btn {
  font-family: 'Poppins', sans-serif;
  padding: 24px;
  text-decoration: none;
  color: #3d3d3d;
  /* max-width: 290px; */
  width: 100%;
  height: 80px;
  text-align: center;
  border-radius: 10px;
  background-color: $background-lm-light;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  /* border: 1px solid #3E64AA; */ /* Doubt: This is in the Figma file but it's not really seen. Should we add it or not? */
  border: none;
  cursor: pointer;
  transition: filter 0.3s ease;

  &:hover {
    filter: brightness(98%);
  }

  &.btn--highlight {
    background-color: #fbd144;
    border: none;
  }
}

.btn--rounded-small {
  width: 38px;
  height: 38px;
  background-color: $background-lm-light;
  border-radius: 100%;
}

.btn--mobile-only {
  display: none;
}

.headline.headline--hidden {
  display: none;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#theme-toggle {
    background-color: $background-lm-light;
    border: none;
    width: 80px;
    height: 80px;
    border-radius: 100%;
    cursor: pointer;
    margin-bottom: 65px;
    display: flex;
    justify-content: center;
    align-items: center;

    .theme-toggle__text {
      display: none;
    }

    .theme-toggle__image--lm {
      display: none;
    }
  }

//Question : hould I nest every child into its parent?
.profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  width: 631px;
  height: fit-content;

  .profile__image-container {
    background-color: $background-lm-light;
    border: 4px solid #f7d039;
    width: 215px;
    height: 215px;
    padding: calc(215px - 192px);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .profile__image-picture {
      width: 192px;
      height: 192px;
      border-radius: 100%;
    }
  }

  .profile__info {
    .profile__headline {
      font-size: 46px;
      line-height: 69px;
      font-weight: 500;
      color: $content-color-lm;
    }

    .profile__subheadline {
      line-height: 33px;
      margin-top: 3px;
      margin-bottom: 12px;
    }

    .social-media {
      display: flex;
      gap: 26px;
      justify-content: flex-start;
      align-items: center;

      &.social-media--dm {
        display: none;
      }

      .social-media__link {
        width: 36px;
        height: 36px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .social-media__icon {
        width: 100%; /* Doubt */
        object-fit: contain;
        width: 30px;
        height: 30px;
      }
    }
  }
}

.profile__facts {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 634px;
    gap: 90px;
    padding-block: 20px;
    padding-inline: 31px;
    margin-top: 48px;

    .profile__facts-paragraph {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      width: fit-content;
      transition: transform 0.3s ease;

      &:hover {
        animation: bounce 0.8s ease-in-out;
      }
    }

    .profile__facts-number {
      color: #3a3a3a;
      font-size: 24px;
    }
  }

  .profile__contact {
    display: flex;
    justify-content: center;
    margin-top: 47px;
    gap: 38px;
    width: 95%;
    max-width: 618px;
  }
.container-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 86px;
}

.tabs-container {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding-block: 15px;
  padding-inline: 24px;
  background-color: #ffffff;
  border-radius: 20px;
  width: 95%;
  max-width: 760px;
  height: fit-content;

  .tabs-container__btn {
    width: 100%;
    color: $content-color-lm;
    font-weight: 500;
    font-size: 1em;
    text-align: center;
    line-height: 33px;
    max-width: none;
    padding: 24px;
    text-decoration: none;
    height: 80px;
    text-align: center;
    border-radius: 10px;
    background-color: $background-lm-light;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    cursor: pointer;
    transition: filter 0.3s ease;
  }

  .tabs-container__btn-active {
    background-color: #d7d7d7;
  }
}

#portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 32px;
  row-gap: 48px;
  border-radius: 20px;
  margin-top: 76px;

  .project {
    position: relative;
    height: 226px;
    max-width: 362px;
    width: 100%;
    border-radius: 15px;
    overflow: hidden;
    opacity: 0;
    transition: opacity 1s;

    &.animate {
      animation: fadeIn 1s forwards;
    }

    &:hover .project__overlay {
      opacity: 1;
      z-index: 1;
    }

    .project__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      color: $content-color-lm-dark;
      background-color: $highlight-color-dm-transparent;
      opacity: 0;
      z-index: 1;
      transition: opacity 0.3s ease;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding-inline: 40px;
    }

    .project__title {
      font-size: 22px;
      font-weight: 500;
      line-height: 33px;
    }

    .project__description {
      font-size: 14px;
      font-weight: 400;
      margin-bottom: 18px;
    }

    .project__link {
      display: inline-block;
      max-height: 226px;
      max-width: 362px;
      width: 100%;
      height: 100%;
      border-radius: 15px;
      overflow: hidden;

      .project__image {
        width: 100%;
        height: 100%;
        filter: brightness(80%);
        object-fit: cover;

        &.project__image--byn {
          filter: grayscale(100%);
        }
      }
    }
  }
}

.footer {
  display: flex;
  justify-content: center; /* Doubt: This isn't centered in the design. Should we center it? */
  margin-top: 130px;
  margin-bottom: 80px;

  .footer__copyright {
    color: $content-color-lm-light;
    font-weight: 500;
    font-size: 22px;
  }
}

/* Dark mode */
.body.dark-mode {
  background-color: $background-dm-dark;

  #theme-toggle {
    background-color: $background-dm-light;

    .theme-toggle__image--dm {
        display: none;
      }
    
      .theme-toggle__image--lm {
        display: inline-block;
      }
  }

  .footer {
    .footer__copyright {
      color: $content-color-dm-dark;
    }
  }
}

#container.dark-mode {
  color: $content-color-dm-dark;

  .profile{
.profile__contact .btn {
    background-color: $background-dm-light;
    color: $content-color-dm-dark;
  }

  .profile__contact .btn.btn--highlight {
    background-color: $highlight-color-dm;
    color: $content-color-lm-dark;
  }

  .profile__image-container {
    border: $highlight-color-dm 4px solid;
    background-color: $background-dm-dark;
  }

  .profile__info .profile__headline {
    color: $content-color-dm-light;
  }

  }
  
  .social-media.social-media--dm {
    display: flex;
  }

  .social-media.social-media--lm {
    display: none;
  }

  .profile__facts-number {
    color: $content-color-dm-dark;
  }

  .btn.btn--highlight {
    background-color: $highlight-color-dm;
  }

  .tabs-container {
    background-color: $background-dm-light;

    .tabs-container__btn {
      background-color: transparent;
      color: $content-color-dm-dark;
    }

    .tabs-container__btn-active {
      background-color: $background-dm-dark;
      color: $content-color-dm-dark;
    }
  }
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
  }

  #container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 575px;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 20px;
  }

  .header {
    width: 100%;
    gap: 30px;
  }

  .container-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #theme-toggle {
    width: 48px;
    height: 48px;
    margin-bottom: 30px;
  }

  .theme-toggle__image {
    max-width: 20px;
    max-height: 20px;
  }

  .profile {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 40px;

    .profile__image-container {
      max-width: 124px;
      max-height: 124px;
      padding: calc(124px - 107px);
    }

    .profile__image-picture {
      max-width: 107px;
      max-height: 107px;
    }

    .profile__info {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .profile__headline {
        font-size: 32px;
        line-height: 48px;
      }

      .profile__subheadline {
        font-size: 14px;
        line-height: 21px;
        margin: 0;
      }
    }
  }

  .social-media {
    margin-top: 20px;

    .social-media__link {
      max-width: 24px;
      max-height: 24px;
    }

    .social-media__icon {
      max-width: 20px;
    }
  }

  .profile__facts {
    width: 100%;
    gap: 27px;
    margin-top: 0px;
    padding-block: 20px;

    .profile__facts-paragraph {
      font-size: 14px;
      max-width: 103px;
    }

    .profile__facts-number {
      font-size: 16px;
    }
  }

  .profile__contact {
    width: 100%;
    max-width: 375px;
    display: flex;
    gap: 14px;
    margin-block: 18px;
    margin-inline: 20px;
    justify-content: center;
  }

  .btn {
    min-width: 158px;
    height: 44px;
    font-size: 12px;
    border-radius: 10px;

    .btn__image {
      width: 1em;
    }

    &.btn--tab {
      font-size: 14px;
    }
  }

  .tabs-container {
    margin-block: 10px;
    margin-inline: 20px;
    padding-inline: 6.5px;
    padding-block: 6.85px;
    gap: 9px;
    border-radius: 10px;
    justify-content: space-around;
    max-width: 500px;
    width: 90%;
  }

  .container-main {
    margin: 0px;
    gap: 30px;
  }

  #portfolio {
    margin: 0px;
    gap: 30px;
    padding-bottom: 20px;
  }

  .footer {
    padding: 0px;
    margin-top: 30px;

    .footer__copyright {
      font-size: 14px;
      text-align: center;
      width: 100%;
      margin: 0px;
    }
  }

  .btn--mobile-only {
    display: block;
  }

  .btn--bottom-fixed {
    position: sticky;
    bottom: 0px;
    z-index: 1;
    background-color: $highlight-color-dm-transparent;
    color: $background-dm-light;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    font-size: 1rem;
    padding-block: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    transition: background-color 0.2s ease;

    &:active {
      background-color: $highlight-color-dm;
    }
  }
}

@media (max-width: 1024px) {
  .profile {
    width: 95%;

    .profile__headline {
      font-size: 36px;
    }
  }

  #portfolio {
    width: 98%;
  }
}
