*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a{
    color: black;
    text-decoration: none;
}


body{
width: 90%;
margin: auto;    
}

header nav {
border-bottom: 1px solid black;
padding: 1rem;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
}

header nav ul li a{
    padding-inline: .2rem
}

header nav ul li a:hover {
    border-bottom: 1px solid black;
}

.active{
    border-bottom: 1px solid black;
}

section{
    margin-block:2rem
}

p{
    margin-top:1rem;
}

img{
    border-radius: 2rem;
    margin-block: 1rem;
}

.buttons{
    margin-top:1rem;
    display: flex;
    gap: 1rem;
}

.buttons a{
    display: block;
    padding: 1rem;
    color: white;
    background-color: black;
    border-radius: 1rem;
    text-decoration: none;
}

.buttons a:hover{
    background-color: grey;
}

footer ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

footer ul li a{
    display: inline-block;
    width: 48px;
}

form{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: rem;
    border: 1px solid grey;
    border-radius: 1rem;
    padding: 2rem;
    width: 70%;
}

input, select, textarea{
    height: 2rem;
    border-radius: .2rem;
    border: 1px solid black;
    padding-left: .5rem;
    width: 70%;
    margin-bottom: 1rem;
    margin-top:.3rem;
}

button{
    width: 70%;
    padding:.5rem;
    border-radius: .5rem;
    border: none;
    background-color: black;
    color: white;
}

button:hover{
    background-color: grey;
}

label span{
    color: grey;
}